registry=https://pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/registry/
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/registry/:username=pt-devop
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/registry/:_password=Y3g2NHptcnJiaXJnN3dxempka2twMzR4N3FmZXhoNGpncWZzY3F1bXA1MmR4b3kzdjI1YQ==
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/:username=pt-devop
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/:_password=Y3g2NHptcnJiaXJnN3dxempka2twMzR4N3FmZXhoNGpncWZzY3F1bXA1MmR4b3kzdjI1YQ==
//pkgs.dev.azure.com/pt-devop/whatscookin/_packaging/whats-cookin-design/npm/:email=npm requires email to be set but doesn't use the value
; end auth token